


.leftDiv {
    height: 100%;
    width: 20%;
    float: left;
    background: #390505e4;
}
.rightDiv {
    width: 70%; 
    float:left; 
    height:100%;
}

.profileImg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    text-align: center;
    border-radius: 40%;
}

.bar::before {
    content: attr(data-skill);
    padding-left: 5px;
    display: inline-block;
    border-radius: 5%;

    background-color: aquamarine;
    width: var(--percentage)
}


thead tr td:first-child, thead tr th:first-child{
    background: white;
    border: none;
}
table thead tr th{
    background: lightgreen;
}
table tbody tr:nth-child(odd){
    background:#0a9396
}
thead tr:first-child{
    background; #005f72;
}
thead tr:nth-child(2){
    background: # ee9b00
}
table tbody tr:nth-child(even){
    background:#94d2bd
}

@font-face {
    font-family: signature;
    src: local(C:\Users\student\Downloads\balcony\Balcony.ttf);
}
#signature {
    width: 100%;
    text-align: right;
    font-size: 2em;
    font-family: signature, sans-serif, serif;
}

#withline::after{
    content: "";
    display: block;
    width: 95%;
    border-bottom: 4px solid black;
}